

<div>
  <h3>Locations from databases</h3>
  <ul>


    <div id='allmarkers' data-markers=<%=@markers.to_json%>></div>
    <%# <% @locations.each do |element| %>
      <%# <%@selectedmarkers = @markers.select {|x| x[:idlocation] == element.id }%>
      <%# <%@selectedmarkers.each do |subelement|%>
        <%# <script>WE.marker([subelement.lat, subelement.lng]).addTo(earth);</script> %>
      <%# <% end %> 
    <%# <% end %>
    
      <% @locations.each do |element| %>
        <div class="border border-warning">
          <li><%= element.address %></li>
          <li><%= element.latitude %></li>
          <li><%= element.longitude %></li>
            <% @selectedmarkers = @markers.select {|x| x[:idlocation] == element.id }%>
            
            <%@selectedmarkers.each do |subelement|%>
              <%= subelement%>

              <script>console.log('parariparara')</script>
              <script>WE.marker([subelement.lat, subelement.lng]).addTo(earth);</script>
            <% end %>
            
            <%element.albums.each do |subelement|%>
              <li><%=cl_image_tag((subelement.photos.first.key),
              width: 150, height: 110, crop: :fill)%> </li>
            <% end %>
        </div>
      <% end %>  
      

  </ul>

  <%= cl_image_tag("e771xoeam8aemjijplblnezgsm9c", width: 400, height: 300, crop: :fill)%>

  <%= cl_image_path(Location.first.albums.first.photos.first.key) %>
</div>


<div id="earth_div"></div>



