
  <div class="globe">
  <h3>Locations from database</h3>
  <ul>
  <% @locations.each do |element| %>
  <li><%= element.address %></li>
  <%element.albums.each do |subelement|%>
  <li><%=cl_image_tag((subelement.photos.first.key),
    width: 400, height: 300, crop: :fill)%> </li>
  <% end %>

  <% end %>
  </ul>
  <%= cl_image_tag("2bf0oq5x39tl80tcekezxv9kyp89",
    width: 400, height: 300, crop: :fill) %>

  <%= cl_image_path(Location.first.albums.first.photos.first.key) %>
  </div>


  <%# <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>
    <%# data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>



  <div id="earth_div"></div>

  <div class="footer">
  <div class="footer-links">
    <a href="/locations/new"><i class="fas fa-plus"></i></a>
    <a href="/locations/new"><i class="far fa-comment-dots"></i></a>

  </div>
</div>


