
<%= simple_form_for :search, url: root_path, method: :get do |f| %>
<%# <%= simple_form_for :search, url: root_path, remote: true, method: :get do |f| %>

  <div id="search-bar" class="search-form-control form-group">
    <input class="form-control string required" type="text" name="query" id="query" placeholder="Find a memory"/>
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
<% end %>



<% if params[:query].present? %>
  <div id="earth_div" style = "min-height: 78vh;"> </div>
<% else %>
  <div id="earth_div" style = "min-height: 100vh;"></div>
<% end %>

<% unless (@albums.nil? || @albums.empty?) && (@comments.nil? || @comments.empty?)%>
  <% @albums.each do |album| %>
    <ul style="list-style: none;" >
      <% album.photos.each do  |photo|  %>
        <li >
          <div class="cards">
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(photo.key)%>);" data-location-id="<%= album.location.id %>">
                <ul class="d-flex list-unstyled mt-auto pl-1 pr-1 justify-content-between">
                  <li class="d-flex align-items-center me-3">
                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                    <small style="font-size: 56%; text-shadow: 1px 1px 2px black;"> <%= album.date %>  </small></li>
                </ul>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<%# /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// %>
<%# /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// %>
<%# ........................................................JUST SHOWING AFTER A QUERY..................................................... %>
<%# ....................................................................................................................................... %>

<% unless (@albums.nil? || @albums.empty?) && (@comments.nil? || @comments.empty?)%>
  
  <% @markers.each do |marker| %>
    <% if marker[:kpic] %>
      <% marker[:image_url] = cl_image_path(marker[:kpic]) %>
    <% end %>
  <% end %>

  <div id="map"
    style="width: 100%; height: 300px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

<% end %>

<%# /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// %>
<%# ///////////////////////////////////////////////////////carousel model for albums/////////////////////////////////////////////////////// %>
<%# /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// %>

<div class="cards-itens">

  <% if params[:query].present? %>

    <% @locations.each do |loc| %>
      <% first_album_of_location = 0 %>

      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <% @albums.each do |album| %>
            <% if album.photos.attached? && album.location == loc%>
              <% if first_album_of_location == 0 %>
                <% album.photos.each do |photo| %>
                  <div class="carousel-item active">
                    <%= link_to location_path(album.location) do %> 
                      <li >
                        <div class="cards">  
                          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path photo.key %>)">
                              <ul class="d-flex list-unstyled mt-auto pl-1 pr-1 justify-content-between">
                                <li class="d-flex align-items-start me-3">
                                  <small style="font-size: 56%; text-shadow: 1px 1px 2px black; color: white;"><%= loc.address %> </small>
                                </li>
                                <li class="d-flex align-items-center me-3">
                                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                                  <small style="font-size: 56%; text-shadow: 1px 1px 2px black; color: white;"> <%= album.date %>  </small>
                              </ul>
                          </div>
                        </div>
                      </li>
                    <% end %>
                    <% first_album_of_location = 1 %>
                  </div>
                 <% end %>
              <% else %>
                 <% album.photos.each do |photo| %>
                  <div class="carousel-item">
                    <%= link_to location_path(album.location) do %> 
                      <li >
                        <div class="cards">  
                          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path photo.key %>)">
                              <ul class="d-flex list-unstyled mt-auto pl-1 pr-1 justify-content-between">
                                <li class="d-flex align-items-start me-3">
                                  <small style="font-size: 56%; text-shadow: 1px 1px 2px black; color: white;"><%= loc.address %> </small>
                                </li>
                                <li class="d-flex align-items-center me-3">
                                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                                  <small style="font-size: 56%; text-shadow: 1px 1px 2px black; color: white;"> <%= album.date %>  </small>
                              </ul>
                          </div>
                        </div>
                      </li>
                    <% end %>
                  </div>
                 <% end %>
              <% end %>

            <% end %>
          <% end %>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <% end %>
      <%# /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// %>
      <%# ///////////////////////////////////////////////////////carousel model for comments///////////////////////////////////////////////////// %>
      <%# /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// %>
    <% @locations.each do |loc| %>
      <% first_comment_of_location = 0 %>
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <% @comments.each do |comment|%>
            <% if comment.text? && comment.location == loc%>
              <% if first_comment_of_location == 0 %>
                <div class="carousel-item active">
                  <%= link_to location_path(comment.location) do %> 
                    <div class="card-product-home">
                      <div class="card-product-infos-home" style="border: 1px solid white; margin-right: 50px; margin-top: 30px; margin-left: 20px;">
                        <h2><%= comment.text %></h2>
                        <p><%= loc.address %></p>
                        <%= @albums.last.date %>
                      </div>
                    </div>
                  <% end %>
                  <% first_comment_of_location = 1 %>
                </div>
              <% else %>
                <div class="carousel-item">
                  <%= link_to location_path(comment.location) do %>
                    <div class="card-product-home">
                      <div class="card-product-infos-home" style="border: 1px solid white; margin-right: 50px; margin-top: 30px; margin-left: 20px;">
                        <h2><%= comment.text %></h2>
                        <p><%= loc.address %></p>
                        <%= @albums.last.date %>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <% end %>

  <% end %>
</div>

<%# ........................................................JUST SHOWING AFTER A QUERY..................................................... %>
<%# ....................................................................................................................................... %>
<%# /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// %>
<%# /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// %>

