

<div>
  <h3>Locations from databases</h3>
  <ul>
    <div id='test' data-markers="<%=@markers.to_json%>"></div>

    <% @locations.each do |element| %>
    <li><%= element.address %></li>
    <li><%= element.latitude %></li>
    <li><%= element.longitude %></li>
      <%element.albums.each do |subelement|%>
        <li><%=cl_image_tag((subelement.photos.first.key),
        width: 400, height: 300, crop: :fill)%> </li>
      <% end %>
    <% end %>
  </ul>

  <%= cl_image_tag("2bf0oq5x39tl80tcekezxv9kyp89", width: 400, height: 300, crop: :fill) %>

  <%= cl_image_path(Location.first.albums.first.photos.first.key) %>  
</div>


<div id="earth_div"></div>



