<div class="search" style="display: flex;">
  <div style="width: 300px; margin-right: 3px;">
<%= form_tag root_path(anchor: "result"), method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a memory"
  %>
  </div>
  <div style="margin-top: 20px;">
  <%= submit_tag "Search", class: "btn btn-warning" %>
<% end %>
  </div>
</div>

<% @locations.each do |element| %>
  <% @selectedmarkers = @markers.select {|x| x[:idlocation] == element.id } %>
  <% @selectedmarkers.each do |subelement| %>
    <% if subelement[:kpic]%>
      <% subelement[:ppic] = cl_image_path(subelement[:kpic])%>
    <% end %>
  <% end %>
<% end %>

<div id='allmarkers' data-markers=<%=@markers.to_json%>></div>

<% if params[:query].present? %>
  <div id="earth_div" style = "min-height: 78vh;"> </div>
<% else %>
  <div id="earth_div" style = "min-height: 100vh;"></div>
<% end %>


  
    <div class="cards-itens">
      <% if params[:query].present? %>
        <% @albums.each do |album| %>
          <%# <%= link_to album do a principio nao tem link pra ir pro show page do album%>
          <% if album.photos.attached? %>
            <%= link_to location_path(album.location) do %>
              <img src=<%= cl_image_path album.photos.first.key %> width="130px"> <!--a principio so aparece a primeira photo de cada album. Melhorar depois--> 
            <% end %>
          <% end %>
        <% end %>
        <% @comments.each do |comment| %>
          <%# <%= link_to comment do a principio nao tem link pra ir pro show page do comment%>
          <% if comment.text? %>
            <p style = "font-style: italic;"><%="'#{comment.text}'"%></p>
          <% end %>
        <% end %>
      <% end %>
    </div>
 

</div>
