<div class="background-color" style=" width: 80%; margin: 0 auto; padding-bottom: 20px; margin-top: 60px; ">
    <div class="container" style="color: white;">
        <%= simple_form_for @location do |f| %>
            <div class="field" style="width: 90%;">
                <div class="container-forms">
                    <%= f.input :name, label: 'Title', input_html: { class: 'form-control' } %>
                    <%= f.input :address %>
                </div>
                
                <div class="container-forms">
                    <fieldset id='comments'>
                        <ol style="list-style: none;">
                            <%= f.fields_for :comments do |comment| %>
                                <%= render partial: "comment_fields", locals: { f: comment} %>
                            <% end %>
                        </ol>
                    </fieldset>
                </div>

                <div class="btn">
                    <%= link_to_add_association 'Add New Comment', f, :comments,
                        'data-association-insertion-node' => "#comments ol",
                        'data-association-insertion-method' => "append" %>
                </div>
                
                
                <div class="container-forms">
                    <fieldset id='albums'>
                        <ol style="list-style: none;">
                            <%= f.simple_fields_for :albums do |album| %>
                                <%= render partial: "album_fields", locals: { f: album} %>
                            <% end %>
                        </ol>
                    </fieldset>
                </div>
                
                <div class="btn">
                    <%= link_to_add_association 'Add New Album', f, :albums,
                        'data-association-insertion-node' => "#albums ol",
                        'data-association-insertion-method' => "append" %>
                </div>


            </div>
            <div class="submit">
                <%= f.submit "Create Experience" %>
            </div>

        <% end %>
    </div>
</div>
