<div class="background-color" style="background-color: #58585B; width: 80%; margin: 0 auto; padding-bottom: 20px; margin-top: 60px; ">
<div class="container" style="color: black;">
    <%= simple_form_for @location do |f| %>
        <div class="field" style="width: 50%;">
            <%= f.input :name %>
            <%= f.input :address, class: "test" %>

            <%= link_to_add_association 'Add Comments', f, :comments,
                'data-association-insertion-node' => "#comments ol",
                'data-association-insertion-method' => "append" %>

            <fieldset id='comments'>
                <ol>
                    <%= f.fields_for :comments do |comment| %>
                        <%= render partial: "comment_fields", locals: { f: comment} %>
                    <% end %>
                </ol>
            </fieldset>

             <%= link_to_add_association 'Add Photos', f, :albums,
                'data-association-insertion-node' => "#albums ol",
                'data-association-insertion-method' => "append" %>

            <fieldset id='albums'>
                <ol>
                    <%= f.simple_fields_for :albums do |album| %>
                        <%= render partial: "album_fields", locals: { f: album} %>
                    <% end %>
                </ol>
            </fieldset>
        </div>
        <div class="actions">
            <%= f.submit "Create Experience" %>
        </div>

    <% end %>
</div>
</div>
